body {
  background-color: #F5F5F5;
  color: #333333;
  font-family: serif;
  font-size: 20px;
}

div {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

table {
  width: 100%;
  border: none;
}

table td {
  padding: 3px 6px;
  width: 20%;
}

table tr:nth-child(even) {
  background: #E0E0E0;
}

.top {
  margin-top: 50px;
  text-align: center;
}

.bottom {
  margin-bottom: 50px;
  text-align: center;
}

.space {
  margin-bottom: 1000px;
}

.solution {
  text-align: center;
}

.author {
  color: #888888;
  font-size: 13px;
}

#newpuzzle {
  border: 2px solid #333333;
  border-radius: 3px;
  font-family: serif;
  font-size: 18px;
  background: none;
  color: #333333;
  padding: 5px 10px;
}

#newpuzzle:hover {
  background: #333333;
  color: #F5F5F5;
}
